<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hti.checkers.checkers">

    <application
        android:allowBackup="true"
        android:icon="@drawable/checkboard"
        android:label="Checkers"
        android:supportsRtl="true"
        android:theme="@style/CheckersTheme">

        <activity
            android:name=".MainActivity">
        </activity>

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomePage"
            android:label="Home"
            android:theme="@style/CheckersTheme.NoActionBar"/>
        <activity
            android:name=".Options"
            android:label="Options"
            android:theme="@style/CheckersTheme.NoActionBar"/>
    </application>

</manifest>